# Ignore Gradle project-specific cache directory
.gradle/

# Ignore VSCode config
.vscode/

# Ignore Gradle build output directory
build/

# Ignore docker-compose file if necessary


# Ignore compiled binaries
modules/api/bin/

# Ignore specific directory (relative path from the root)
modules/api/src/main/resources/.env

.env